* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: url(../img/Experiment/alternative\ bg\ 2.png) no-repeat;
    /* background-size: cover; */
    background-size: cover;
    min-height: 100vh;
    max-width: 100vw;
}

header {
    height: 150px;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.header-logo {
    text-align: center;
    color: #DCDCDC;
    font-size: 1.5em;
}

.header-logo h1 a {
    color: #DCDCDC;
    text-decoration: none;
    transition: 0.3s linear;
}

.header-logo h1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    transition: 0.3s linear;
}

#navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 0.3s;
}

#navbar a {
    float: left;
    text-decoration: none;
    margin: 1em 3em;
}

#navbar a li {
    color: #9F9F9F;
    font-size: 1.75em;
    font-weight: bold;
    transition: 0.3s ease;
}

#navbar a li:hover {
    color: #DCDCDC;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    font-size: 2em;
    width: 100%;
}

#main-container {
    margin-top: 15%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info-btn-container a {
    outline: none;
    color: #DCDCDC;
    text-decoration: none;
    font-size: 2em;
    font-weight: 800;
    transition: 0.3s ease;
    border: 8px solid #DCDCDC;
    padding: 0.5em 1.5em;
}

#info-btn-container {
    margin-top: 4em;
}

#info-btn-container a:hover {
    background-color: #DCDCDC;
    color: #3A3A3A;
}

.dark-txt {
    color: #3A3A3A;
}

.light-txt {
    color: #DCDCDC;
}

.extra-bold {
    font-weight: 900;
}

.bold {
    font-weight: 700;
}

.large-txt {
    font-size: 2em;
}

.medium-txt {
    font-size: 1.75em;
}

.small-txt {
    font-size: 0.75em;
}

#count-lbl {
    letter-spacing: 1.2em;
    margin-left: 1.25em;
}

#nav-toggle-img-container {
    display: none;
}

#flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 1600px) {
    #nav-toggle-img-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 99999;
        padding: 3em;
        right: 0;
        top: 0;
        width: 80%;
        height: 150px;
    }

    #navbar {
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        background: #565656;
        height: 100vh;
        width: 80%;
        top: 0;
        right: 0;
        position: absolute;
    }

    #navbar-heading {
        /* display: block !important; */
        color: #DCDCDC;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navbar-heading h2 {
        position: absolute;
        right: 50%;
    }

    #navbar a {
        width: 30%;
    }

    #navbar a li {
        text-align: left;
        width: 30%;
        font-size: 2.5em;
    }

    header {
        justify-content: space-between;
        padding: 0em 3em;
    }

    #heading h1 {
        font-size: 1.75em;
    }

    #heading {
        margin-top: 1.5em !important;
    }

    .button {
        padding: 1em 0em 0em 0em !important;
    }
}

@media screen and (max-width: 550px) {
    #navbar a li {
        font-size: 2em;
        margin-right: 0;
    }

    #navbar a {
        margin: 1em 1em;
        width: 50%;
    }
}

@media screen and (max-width: 1050px) {
    .large-txt {
        font-size: 1.75em;
    }

    .medium-txt {
        font-size: 1.5em;
    }

    .small-txt {
        font-size: 0.7em;
    }

    #count-lbl {
        letter-spacing: 1.05em;
        margin-left: 1em;
    }

    #main-container {
        margin-top: 15%;
    }

    #info-btn-container {
        margin-top: 3em;
    }

    #info-btn-container a {
        padding: 0.4em 1.25em;
        border: 6px solid #DCDCDC;
    }
}

@media screen and (max-width: 950px) {
    .large-txt {
        font-size: 1.25em;
    }

    .medium-txt {
        font-size: 1em;
    }

    .small-txt {
        font-size: 0.5em;
    }

    #count-lbl {
        letter-spacing: 0.9em;
        margin-left: 1em;
    }

    .header-logo {
        font-size: 1.25em;
    }

    #main-container {
        margin-top: 15%;
    }

    #info-btn-container {
        margin-top: 2.5em;
    }

    #info-btn-container a {
        padding: 0.4em 1.25em;
        border: 4px solid #DCDCDC;
        font-size: 1.5em;
    }

    .a-button {
        width: 75%;
    }
}

@media screen and (max-width: 650px) {
    .large-txt {
        font-size: 1em;
    }

    .medium-txt {
        font-size: 0.8em;
    }

    .small-txt {
        font-size: 0.4em;
    }

    #count-lbl {
        letter-spacing: 0.9em;
        margin-left: 1em;
    }

    .header-logo {
        font-size: 1em;
    }

    #main-container {
        margin-top: 20%;
    }

    #info-btn-container {
        margin-top: 2.25em;
    }

    #info-btn-container a {
        padding: 0.4em 1.25em;
        border: 4px solid #DCDCDC;
        font-size: 1.25em;
    }

    body {
        background-position: center;
    }
}

@media screen and (max-width: 520px) {
    #countdown {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .large-txt {
        font-size: 1.25em;
    }

    #navbar-heading {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .medium-txt {
        font-size: 1.1em;
    }

    .small-txt {
        font-size: 0.6em;
    }

    #nav-toggle-img-container {
        padding: 2em;
    }

    #navbar a li {
        font-size: 1.5em;
    }

    #count-lbl {
        letter-spacing: 0.85em;
        margin-left: 0.75em;
    }

    .header-logo {
        font-size: 0.85em;
    }

    header {
        padding: 0em 2em;
    }

    #main-container {
        margin-top: 25%;
    }

    #info-btn-container {
        margin-top: 2.25em;
    }

    #info-btn-container a {
        padding: 0.4em 1.25em;
        border: 4px solid #DCDCDC;
        font-size: 1.25em;
    }
}

@media screen and (max-width: 420px) {
    .header-logo {
        width: 50%;
    }

    #text-lol {
        font-size: 1.25em;
    }

    #navbar-heading {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .large-txt {
        font-size: 1em;
    }
}

@keyframes right-left {
    from {
        transform: translate(1000px);
    }
    to {
        transform: translate(0);
    }
}

@keyframes left-right {
    from {
        transform: translate(0px);
    }
    to {
        transform: translate(1000px);
    }
}

.no {
    visibility: hidden !important;
    opacity: 0 !important;
}

.yes {
    visibility: visible !important;
    opacity: 1 !important;
}

.yes-txt {
    visibility: visible !important;
}

.anim {
    animation: right-left 0.3s;
}

.anim2 {
    animation: left-right 0.3s;
}

/* #start {
    border-color: #C9B400 !important;
}*/

.active {
    color: #DCDCDC !important;
}

/* #start:hover {
    background: #C9B400 !important;
    color: #DCDCDC !important;
}

#gae {
    transition: 0.3s ease;
}

#gae a:hover {
    color: #C9B400 !important;
} */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container div {
    text-align: center;
}

#main-2 {
    margin-top: 17.5em;
    margin-bottom: 10em;
}

#info-cont {
    width: 50%;
    margin-top: 2em;
    margin-bottom: 4em;
}

#info-p {
    text-align: center;
    display: block;
    color: #DCDCDC;
    font-size: 1.25em;
}

main {
    flex-direction: column;
}

#info-header {
    color: #DCDCDC;
}

#info-header-div {
    padding: 0.75em 5em;
    font-size: 1.5em;
    border: 8px solid #DCDCDC;
}

#insta-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#insta-span {
    font-size: 1.25em;
    color: #DCDCDC;
    margin-left: 1em;
}

#inv {
    width: 100%;
    height: 250px;
}

.stop-scrolling {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#tire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.salam {
    text-decoration: none;
    font-weight: 700;
}

.blur {
    filter: blur(3px);
}

main {
    transition: 0.3s linear;
}

@media screen and (max-width: 768px) {
    #info-header {
        font-size: 1em;
    }

    #info-header-div {
        padding: 0.5em 2em;
    }
    
    #info-cont {
        width: 70%;
    }
}

@media screen and (max-width: 350px) {
    .large-txt {
        font-size: 0.9em;
    }

    #info-header-div {
        padding: 0.35em 1em;
    }

    #info-header {
        font-size: 1em;
    }

    #info-p {
        font-size: 1em;
    }

    #info-cont {
        width: 90%;
    }

    #insta-cont img {
        width: 2.75em;
    }
}

#rights {
    color: white;
}

#foot-container {
    width: 100%;
    text-align: center;
    background: #4A4A4A;
    height: 100%;
    padding: 2em;
    border-top: 6px solid #DCDCDC;
}

@media screen and (max-width: 1024px) {
    #inv {
        height: 5em;
    }

    #list-container {
        flex-direction: column !important;
        align-items: center;
    }
}

#list {
    margin-bottom: 20em;
    width: 100%;
    height: 100%;
}

#list-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 100%;
    padding: 1em 3em;
}

#list-container div {
    min-height: 100%;
    color: #dcdcdc;
    width: 50%;
    text-align: center;
    background: #4A4A4A;
    margin-bottom: 3em;
    border: 6px solid #DCDCDC;
    padding: 2em;
    margin: 1em;
}

#list-container div h1 {
    font-size: 1.75em;
    margin-bottom: 0.5em;
}

#list-container div ul {
    list-style: none;
}

#list-container div ul li a {
    text-decoration: none;
    color: #dcdcdc;
}

#list-container div ul li {
    margin-top: 1em;
    font-size: 1.25em;
    text-transform: capitalize;
}

@media screen and (max-width: 800px) {
    #list-container div {
        width: 100%;
    }
}

#list-header {
    color: #DCDCDC;
    text-align: center;
    font-size: 1.25em;
    text-transform: uppercase;
}

main {
    width: 100%;
    color: #DCDCDC;
    font-size: 3em;
}

.a-button {
    outline: none;
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 7em 0em;
}

.button svg {
    width: 80%;
}

#container-sus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#heading h1 {
    text-align: center;
}

#heading {
    min-height: 400px;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cork {
    width: 70%;
    background: url(../img/Experiment/allahuakbar2.jpg) no-repeat;
    background-size: cover !important;
}

#cork div {
    padding: 1em;
}

/* @media screen and (max-width: 1885px) {
    #cork {
        background-size: contain;
    }
} */

.ava-cont {
    width: 100%;
}

.ava-a img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.ava-cont img {
    width: 50%;
}

.ava-cont a {
    width: 50%;
}

.ava-a {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    #cork {
        width: 90%;
    }

    .button {
        padding: 3em 0em;
    }
}

@media screen and (max-width: 800px) {
    #cork div {
        padding: 0.5em;
    }

    .ava-cont {
        flex-direction: column !important;
    }

    #two img {
        order: 2;
    }

    #five img {
        order: 2;
    }
}

.ava-cont a img:hover {
    transform-origin: 50% 2.5%;
    animation: swinging 2s cubic-bezier(1, 1, 1, 1) forwards infinite;
}

@keyframes swinging{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(5deg);}
    75%{transform: rotate(-5deg);}
    100%{transform: rotate(0deg);}
}

#cork {
    flex-direction: column;
    box-shadow: 10px 10px 21px 0px rgba(42, 42, 42, 0.75);
}

#one {
    padding: 2em;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#two {
    padding: 2em;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#three {
    padding: 2em;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#four {
    padding: 2em;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#five {
    padding: 2em;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

footer {
    margin-top: 3em;
}

#spacer{
    height: 50px;
}

@media screen and (max-width: 1000px) {
    #heading {
        font-size: 0.5em;
        min-height: 250px;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation: reveal 0.3s;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #484848;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 3em;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  
  /* The Close Button */
  .close {
    color: #DCDCDC;
    float: right;
    font-size: 3em;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#mistenkte {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#close {
    margin-left: 1em;
}

.mistenkt {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
}

#container2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#container3 {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

#info-area {
    color: #DCDCDC;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
}

#info-area p {
    font-size: 1.25em;
    line-height: 1.5em;
}

#info-area h1 {
    width: 100%;
    font-size: 3em;
    text-align: left;
}

#profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#close-cont {
    display: flex;
    height: 100%;
}

#chat-box {
    height: 93%;
    width: 100%;
    background: #DCDCDC;
}

#send #info-btn-container {
    margin: 0;
}

#send-box {
    background: #333333;
    height: 7%;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
    background: #333333;
}

#dropdown {
    height: 80%;
    width: 90%;
}

.spm-dd {
    height: 100%;
    width: 90%;
    font-size: 0.90em;
}

#send{
    width: 20%;
}

.box-class {
    padding: 1em;
    font-size: 1.25em;
}

.testLine {
    margin-bottom: 1em;
    max-width: 100%;
    height: 150%;
}

@media screen and (max-width: 768px) {
    .ava-a img {
        width: 100%;
        height: 100%;
    }

    .mistenkt-text {
        width: 65% !important;
    }
}

@media screen and (max-width: 425px) {
    .ava-a img {
        width: 150%;
        height: 150%;
    }

    .mistenkt-text {
        width: 85% !important;
    }
}

@media screen and (max-width: 1920px) {
    #info-area p {
        font-size: 1em;
    }

    .modal-content {
        height: 75%;
        margin: 10%;
    }
    
    #profile-pic img {
        width: 90%;
    }
}

@media screen and (max-width: 1600px) {

    #profile-pic img {
        width: 75%;
        margin-bottom: 1em;
    }

    #info-area h1 {
        font-size: 2.5em;
    }

    #info-area {
        margin-bottom: 1em;
    }

    .mistenkt {
        height: 100%;
    }

    #mistenkte {
        height: 85%;
    }

    #container3 {
        height: 80%;
    }

    #send-box {
        height: 10%;
    }

    #send-btn {
        padding: 0.15em 0.25em !important;
        font-size: 0.85em !important;
    }

    .mistenkt {
        height: 100%;
    }
}

@media screen and (max-width: 1400px) {
    .modal-content {
        padding: 1em;
        margin: 5%;
        width: 100%;
        height: 90%;
    }

    .modal {
        padding-top: 0em;
    }
}

@media screen and (max-width: 1100px) {
    .mistenkt {
        flex-direction: column;
    }

    .modal-content {
        height: 150%;
    }

    #info-area {
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 800px) {
    #container2 {
        height: 50%;
    }

    #info-area {
        margin-bottom: 0;
    }

    #info-area p {
        height: 50%;
        overflow: hidden;
        font-size: 1em;
    }
}

@media screen and (max-width: 1450px) {
    .testLine {
        font-size: 0.85em !important;
    }
}